<nav class="navbar-custom navbar-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/assets/fangraphs-logo.png" alt="" width="200" >
    </a>
  </div>
</nav>

<fangraphs-topnavbar>Loading...</fangraphs-topnavbar>

<nav class="navbar-custom navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="#">      
      <p class="text-center">Support FanGraphs by becoming a Member or Donating today!</p>
    </a>
  </div>
</nav>

<fangraphs-footer>Loading...</fangraphs-footer>