

<nav class="navbar navbar-expand navbar-dark bg-black">
    <div class="container-fluid">
        <form class="d-flex">
            <input class="form-control search" type="search" placeholder="Player & Blog Search"
                aria-label="Player & Blog Search" width = "200">
        </form>

        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link active" href="#" id="supportDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Support FanGraphs
                </a>
                <ul class="dropdown-menu" aria-labelledby="supportDropdown">
                    <li class="dropdown-item">
                        FanGraphs Membership
                    </li>
                    <li class="dropdown-item">
                        Gift a Membership
                    </li>
                    <li class="dropdown-item">
                        Donate to Fangraphs
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="gamesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Games
                </a>
                <ul class="dropdown-menu" aria-labelledby="gamesDropdown">
                    <li class="dropdown-item">
                        Ottoneu Fantasy Baseball
                    </li>
                    <li class="dropdown-item">
                        Signup, FAQ, Blog Posts
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="blogsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Blogs
                </a>
                <ul class="dropdown-menu" aria-labelledby="blogsDropdown">
                    <li class="dropdown-item">
                        FanGraphs
                    </li>
                    <li class="dropdown-item">
                        Fangraphs Prospects
                    </li>
                    <li class="dropdown-item">
                        RotoGraphs
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="projectionsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Projections
                </a>
                <ul class="dropdown-menu" aria-labelledby="supportDropdown">
                    <li class="nav-item">
                        2022 Pre-Season Projections
                    </li>
                    <li class="dropdown-item">
                        ZiPS, ZiPS DC
                    </li>
                    <li class="dropdown-item">
                        Steamer
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="scoresDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Scores
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="standingsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Standings
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="leadersDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Leaders
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="teamsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Teams
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="rosterDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    RosterResource
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="prospectsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Prospects
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="glossaryDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Glossary
                </a>
            </li>
        </ul>

        <a class="btn btn-primary" href="#" role="button">
        <svg class="bi" width="30" height="30" fill="grey">
            <use xlink:href="/assets/bootstrap-icons.svg#person-square" />
        </svg>
        Sign In
        </a>
    </div>
</nav>